<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Biemvenidos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <h1>Notas</h1>
  <ion-button color="light" expand= "full">ingresar</ion-button>

  <p>Ekko, un prodigio surgido de las duras calles de Zaun, es capaz de manipular el tiempo para su 
    propio beneficio. Usando una máquina de su invención llamada Pulsar-Z, 
    explora las distintas posibilidades de la realidad para crear el momento perfecto...</p>


</ion-content>
