<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     grieta del invicador
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <h1>bot line</h1>

  <p>Tras renunciar a la Orden Kinkou y a su título como el Puño de la Sombra, Akali pelea a solas, lista para ser el arma letal que su pueblo necesita. Aunque conserva todo lo que aprendió de su maestro Shen, juró defender a Jonia de sus enemigos... una víctima a la vez. Puede que Akali ataque en silencio, pero su mensaje resonará con fuerza y claridad: témanle a la asesina sin maestro.</p>

  <ion-button color="warning" expand= "full">cambiar de line</ion-button>

  

</ion-content>
